<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span tdTranslate="teamdojoApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span tdTranslate="teamdojoApp.activity.type">Type</span></dt>
                <dd>
                    <span tdTranslate="{{'teamdojoApp.ActivityType.' + activity.type}}">{{activity.type}}</span>
                </dd>
                <dt><span tdTranslate="teamdojoApp.activity.data">Data</span></dt>
                <dd>
                    <span>{{activity.data}}</span>
                </dd>
                <dt><span tdTranslate="teamdojoApp.activity.createdAt">Created At</span></dt>
                <dd>
                    <span>{{activity.createdAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span tdTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span tdTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
