<div>
    <h2 id="page-heading">
        <span tdTranslate="teamdojoApp.activity.home.title">Activities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/activity/new']">
            <span class="fa fa-plus"></span>
            <span  tdTranslate="teamdojoApp.activity.home.createLabel">
            Create new Activity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="activities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span tdTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span tdTranslate="teamdojoApp.activity.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="data"><span tdTranslate="teamdojoApp.activity.data">Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdAt"><span tdTranslate="teamdojoApp.activity.createdAt">Created At</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let activity of activities ;trackBy: trackId">
                <td><a [routerLink]="['/activity', activity.id, 'view' ]">{{activity.id}}</a></td>
                <td tdTranslate="{{'teamdojoApp.ActivityType.' + activity.type}}">{{activity.type}}</td>
                <td>{{activity.data}}</td>
                <td>{{activity.createdAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" tdTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" tdTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'activity/'+ activity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" tdTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
