
<ngb-rating [(rate)]="rateScore" max="5" (click)= "open(voteModal)" [starTemplate]="stars">
</ngb-rating>
{{skill.rateCount}} <span class="rating-text" jhiTranslate="teamdojoApp.skill.detail.rateCount"></span>

<ng-template #stars let-fill="fill" let-index="index">
            <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
              </span>
</ng-template>

<ng-template #voteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="teamdojoApp.skill.detail.modalTitle"></h4>
        <button type="button" class="close" (click)="d('Cross click')">
            <span>&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ngb-rating [(rate)]="rateScore" max="5" (rateChange)= "voteSkill($event)" [starTemplate]="stars">
        </ngb-rating>
        <input type="textarea" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" jhiTranslate="teamdojoApp.skill.detail.modalSubmit" (click)="d('Abgeschickt')"></button>
        <button type="button" class="btn btn-default" data-dismiss="modal" jhiTranslate="teamdojoApp.skill.detail.modalClose" (click)="d('Nicht abgeschickt')"></button>
    </div>
</ng-template>
