@import '~bootstrap/scss/bootstrap';
@import "../../../../content/scss/mixins";
.achievement-item {
    border: 2px solid transparent;
    padding: 0.5rem 0;

    &.item-badge, &.item-level {
        .item-image {
            @include achievement-image();
            width: inherit;
            height: inherit;
            overflow: visible;
        }
    }

    &.item-badge {
        .item-image {
            img {
                width: 70%;
                margin-top: -3px;
            }
            &::after {
                content: '';
                position: absolute;
                display: flex;
                width: inherit;
                height: inherit;
                background: no-repeat center/90% url('../../../../content/images/badge_default.png');
            }
        }
        &-disabled, &-incomplete {
            filter: opacity(50%);
            .item-progress {
                filter: brightness(0%) invert(82%);
            }
        }
    }

    &.item-level {
        .item-image {
            height: inherit;
            width: inherit;
            background-color: transparent;
            img {
                width: inherit;
                z-index: 2;
            }
            &::before {
                content: '';
                position: absolute;
                display: flex;
                width: inherit;
                height: inherit;
                z-index: 1;
                background: no-repeat center url('../../../../content/images/level_default.png');
            }
        }
        &-disabled, &-incomplete .item-image::before {
            filter: brightness(0%) invert(82%);
        }
    }

    .item-progress {
        padding: 0 25px;

        /deep/ .progress {
            background-color: transparent;
            border: 1px solid $gray-600;
            border-radius: 0;
        }
        /deep/ .progress-bar{
            background-color: $gray-600;
        }
    }

    &.active {
        border-color: #edb900;
        background-color: rgba(237, 185, 0, 0.2);
    }
    &:hover {
        cursor: pointer;
    }
}
