@import '~bootstrap/scss/bootstrap';
@import "../../../../content/scss/mixins";
.achievement-item {
    width: 11vh;
    border: 2px solid transparent;

    .item-badge, .item-level {
        display: flex;
        height: 8vh;
        .item-image {
            @include achievement-image();
        }

        .item-bg {
            display: flex;
            width: 8vh;
            background: no-repeat center/100% transparent;
        }
    }

    .item-badge {
        .item-bg {
            position: absolute;
            height: 8vh;
        }
    }

    .item-level {
        .item-image {
            position: absolute;
            height: 8vh;
            width: 15vh;
            background-color: transparent;
            margin-left: -3.5vh;
        }
    }

    .item-badge {
        .item-image img {
            margin-top: -3px;
        }
        .item-bg {
            background-image: url('../../../../content/images/badge_default.png');
        }
        &-disabled .item-bg {
            background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../../../content/images/badge_default.png');
        }
        &-incomplete .item-bg {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../../../content/images/badge_default.png');
        }
    }

    .item-level {
        .item-bg {
            background-image: url('../../../../content/images/level_default.png');
        }
        &-disabled .item-bg {
            background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../../../content/images/level_default.png');
        }
        &-incomplete .item-bg {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../../../content/images/level_default.png');
        }
    }

    .item-progress {
        padding: 6px 15px 0 15px;

        /deep/ .progress {
            background-color: transparent;
            border: 1px solid $gray-600;
            border-radius: 0;
        }
        /deep/ .progress-bar{
            background-color: $gray-600;
        }
    }

    &.active {
        border-color: #edb900;
        background-color: rgba(237, 185, 0, 0.2);
    }
    &:hover {
        cursor: pointer;
    }
}
