<ng-template #popoverContent>
    <div class="d-flex flex-column align-items-center">
        <div>{{item.name}}</div>
        <small *ngIf="hasStatus">( {{progress | number: '1.0-2' }}% )</small>
    </div>
</ng-template>
<div class="achievement-item" (click)="selectItem($event)" [ngClass]="{'active': active}"
     [ngbPopover]="popoverContent" triggers="mouseenter:mouseleave" placement="top">
    <div class="d-flex justify-content-center">
        <div [ngClass]="[type, itemStatusCssClass]">
            <span class="item-image">
                <img *ngIf="item.picture && item.pictureContentType; else picturePlaceholder" [title]="item.name"
                     [src]="item.picture | imageDataUrl: item.pictureContentType" class="mx-auto"/>
                <ng-template #picturePlaceholder>
                    <span class="img-placeholder">{{item.name | truncateString}}</span>
                </ng-template>
            </span>
        </div>
    </div>
    <div class="item-progress pt-1 px-2 pb-3" *ngIf="hasStatus">
        <ngb-progressbar height="6px" [value]="progress"></ngb-progressbar>
    </div>
</div>
