@import '~bootstrap/scss/bootstrap';
@import "../../../../content/scss/mixins";
.achievement-item {
    width: 10vh;
    height: 10vh;
    border: 2px solid transparent;
    padding: 0.5rem;

    > div {
        width: inherit;
        height: inherit;
        margin: -0.6rem 0 0 -0.6rem;
    }

    .item-badge, .item-level {
        display: flex;
        width: inherit;
        height: inherit;
        .item-image {
            @include achievement-image();
            width: inherit;
            height: inherit;
            overflow: visible;
        }
    }

    .item-badge {
        .item-image {
            img {
                width: 70%;
                margin-top: -3px;
            }
            &:after {
                content: '';
                position: absolute;
                display: flex;
                width: inherit;
                height: inherit;
                background: no-repeat center/80% url('../../../../content/images/badge_default.png');
            }
        }
        &-disabled .item-image:after {
            background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../../../content/images/badge_default.png');
        }
        &-incomplete .item-image:after {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../../../content/images/badge_default.png');
        }
    }

    .item-level {
        .item-image {
            height: inherit;
            width: inherit;
            background-color: transparent;
            img {
                width: inherit;
                z-index: 2;
            }
            &:before {
                content: '';
                position: absolute;
                display: flex;
                width: inherit;
                height: inherit;
                z-index: 1;
                background: no-repeat center url('../../../../content/images/level_default.png');
            }
        }
        &-disabled .item-image:before {
            background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../../../content/images/level_default.png');
        }
        &-incomplete .item-image:before {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../../../../content/images/level_default.png');
        }
    }

    .item-progress {
        padding: 6px 15px 0 15px;

        /deep/ .progress {
            background-color: transparent;
            border: 1px solid $gray-600;
            border-radius: 0;
        }
        /deep/ .progress-bar{
            background-color: $gray-600;
        }
    }

    &.active {
        border-color: #edb900;
        background-color: rgba(237, 185, 0, 0.2);
    }
    &:hover {
        cursor: pointer;
    }
}
