<ng-template #popoverContent>
    <div class="d-flex flex-column align-items-center">
        <div>{{item.name}}</div>
        <small *ngIf="hasStatus">( {{progress | number: '1.0-2' }}% )</small>
    </div>
</ng-template>
<div class="achievement-item" (click)="selectItem($event)" [ngClass]="[active ? 'active' : '', type, itemStatusCssClass]"
     [ngbPopover]="popoverContent" triggers="mouseenter:mouseleave" placement="right">
    <div class="item-content d-flex justify-content-center" [ngStyle]="{'width': size, 'height': size}">
        <span class="item-image">
            <img *ngIf="item.imageId ; else picturePlaceholder" [title]="item.name"
                 [src]="item.imageId | imageUrl: 'medium'" class="mx-auto"/>
            <ng-template #picturePlaceholder>
                <span class="img-placeholder">{{item.name | truncateString}}</span>
            </ng-template>
        </span>
    </div>
    <div *ngIf="hasStatus">
        <div class="item-progress-wrapper">
            <div class="item-progress" [ngStyle]="{width: progressWidth + '%'}"></div>
            <div class="item-irrelevance" [ngStyle]="{width: irrelevancePercentage + '%'}"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
