<div>
    <h2 id="page-heading">
        <span jhiTranslate="teamdojoApp.teamSkill.home.title">Team Skills</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-team-skill" [routerLink]="['/team-skill/new']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="teamdojoApp.teamSkill.home.createLabel">
            Create new Team Skill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="teamSkills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="achievedAt"><span jhiTranslate="teamdojoApp.teamSkill.achievedAt">Achieved At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="verifiedAt"><span jhiTranslate="teamdojoApp.teamSkill.verifiedAt">Verified At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="irrelevant"><span jhiTranslate="teamdojoApp.teamSkill.irrelevant">Irrelevant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="note"><span jhiTranslate="teamdojoApp.teamSkill.note">Note</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="skill.title"><span jhiTranslate="teamdojoApp.teamSkill.skill">Skill</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="team.name"><span jhiTranslate="teamdojoApp.teamSkill.team">Team</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let teamSkill of teamSkills ;trackBy: trackId">
                <td><a [routerLink]="['/team-skill', teamSkill.id, 'view' ]">{{teamSkill.id}}</a></td>
                <td>{{teamSkill.achievedAt | date:'medium'}}</td>
                <td>{{teamSkill.verifiedAt | date:'medium'}}</td>
                <td>{{teamSkill.irrelevant}}</td>
                <td>{{teamSkill.note}}</td>
                <td>
                    <div *ngIf="teamSkill.skill">
                        <a [routerLink]="['../skill', teamSkill.skill?.id, 'view' ]" >{{teamSkill.skill?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="teamSkill.team">
                        <a [routerLink]="['../team', teamSkill.team?.id, 'view' ]" >{{teamSkill.team?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/team-skill', teamSkill.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/team-skill', teamSkill.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'team-skill/'+ teamSkill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
