<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-team-skill-heading">Create or edit a Team Skill</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!teamSkill.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="teamSkill.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_achievedAt">Achieved At</label>
                    <div class="d-flex">
                        <input id="field_achievedAt" type="datetime-local" class="form-control" name="achievedAt" [(ngModel)]="achievedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_verified">Verified</label>
                    <input type="checkbox" class="form-control" name="verified" id="field_verified"
                        [(ngModel)]="teamSkill.verified" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="teamSkill.note" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
