<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teamSkill">
            <h2><span>Team Skill</span> {{teamSkill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Achieved At</span></dt>
                <dd>
                    <span>{{teamSkill.achievedAt}}</span>
                </dd>
                <dt><span>Verified</span></dt>
                <dd>
                    <span>{{teamSkill.verified}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{teamSkill.note}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team-skill', teamSkill.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
