.team-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.team-item-wrapper {
    flex: 1 1 20%;
    padding: 10px;
}
.team-item {
    border: 2px solid #ddd;
    border-radius: 0.15rem;
    padding: 7px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.team-shortname {
    margin-top: 8px;
}
.team-item:hover {
    background: #fafafa;
    cursor: pointer;
}
.team-item.selected {
    border-color: #3e8acc;
    font-weight: bold;
}
.team-item.selected:hover {
    background: white;
    font-weight: bold;
}

.team-item-row {
    text-align: center;
    padding: 0px 0;
}
