<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="teamdojoApp.teams.selection.title">Team Selection</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancelTeamSelection()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body container">

    <div class="team-row">
        <div class="team-item-wrapper" *ngFor="let team of teams">
            <div class="team-item" (click)="selectTeam(team)"
                 [ngClass]="{'selected': highlightedTeam !== null && highlightedTeam.id === team.id}">
                <div class="team-item-row d-flex justify-content-center">
                    <jhi-team-image [team]="team" size="80px"></jhi-team-image>
                </div>
                <div class="team-item-row">
                    <div class="team-shortname">{{team.shortName}}</div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="deselectTeam()"
            jhiTranslate="teamdojoApp.teams.selection.deselect">No Team
    </button>
    <button type="button" class="btn btn-outline-primary" [ngClass]="{'disabled':highlightedTeam === null}"
            (click)="highlightedTeam !== null && confirmTeam()" jhiTranslate="teamdojoApp.teams.selection.select">Select
        Team
    </button>
</div>
