<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="badge">
            <h2><span jhiTranslate="dojoApp.badge.detail.title">Badge</span> {{badge.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dojoApp.badge.name">Name</span></dt>
                <dd>
                    <span>{{badge.name}}</span>
                </dd>
                <dt><span jhiTranslate="dojoApp.badge.description">Description</span></dt>
                <dd>
                    <span>{{badge.description}}</span>
                </dd>
                <dt><span jhiTranslate="dojoApp.badge.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="badge.logo">
                        <a (click)="openFile(badge.logoContentType, badge.logo)">
                            <img [src]="'data:' + badge.logoContentType + ';base64,' + badge.logo" style="max-width: 100%;" alt="badge image"/>
                        </a>
                        {{badge.logoContentType}}, {{byteSize(badge.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="dojoApp.badge.availableUntil">Available Until</span></dt>
                <dd>
                    <span>{{badge.availableUntil}}</span>
                </dd>
                <dt><span jhiTranslate="dojoApp.badge.availableAmount">Available Amount</span></dt>
                <dd>
                    <span>{{badge.availableAmount}}</span>
                </dd>
                <dt><span jhiTranslate="dojoApp.badge.requiredScore">Required Score</span></dt>
                <dd>
                    <span>{{badge.requiredScore}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/badge', badge.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
