@import '~bootstrap/scss/bootstrap';
@media only screen and (min-width: map-get($grid-breakpoints, md)){
    .overview {
        height: calc(100vh - 151px);
        overflow: hidden;
        > * {
            height: 100%;
            > * {
                height: inherit;
                > * {
                    height: inherit;
                    > * {
                        height: inherit;
                    }
                }
            }
        }
    }
}

.background-image {
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(15px);
    width: 70vh;
    height: 70vh !important;
    top: 10vh;
    left: 10vh;
    position: fixed;
    z-index: -1;
}
