<div class="row overview">
    <jhi-background-component></jhi-background-component>
    <div class="col-lg-6">
        <jhi-overview-teams [teams]=" teams" [levels]="levels" [badges]="badges"></jhi-overview-teams>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-8">
                <jhi-overview-achievements [teams]="teams" [levels]="levels"
                                           [badges]="badges"></jhi-overview-achievements>
            </div>
            <div class="col-lg-4">
                <jhi-overview-skills [teams]="teams" [levels]="levels" [badges]="badges"></jhi-overview-skills>
            </div>
        </div>
    </div>
</div>
