@import '~bootstrap/scss/bootstrap';
@import '../../../../content/scss/bootstrap-variables';
@import '../../../../content/scss/colors';
@import "../../../../content/scss/mixins";

.skill-comments {
    h4 {
        color: $dojo-text-primary;
    }

    .additional-functions {
        height: 74px;
        width: 100%;
    }

    .dojo-card {
        position: relative;
        height: calc(100vh - 250px);
        background: $dojo-bg-primary;
        @include shadow();
        * {
            color: $dojo-text-secondary;
        }

        .comments {
            height: calc(100% - 60px);
            padding: 10px;
            overflow-y: hidden;
            .team-image {
                @include team-image();
            }
        }
        .new-comment {
            display: flex;
            padding: 10px;
            border-top: 1px solid #ccc;

            .send-btn {
                height: 100%;
                * {
                    color: $dojo-text-inverse-secondary;
                }
            }
            &-input {
                width: 76%;
                height: 40px;
            }
        }
    }
}

.conversation {
    margin-bottom: 15px;
}

.conversation-left  {
    position: relative;
    font-size: 0.9rem;

    img {
        position: absolute;
        bottom: 0;
        width:50px;
        height: 50px;
        border-radius: 50%;
    }

    .speech-bubble {
        position: absolute;
        background: #e9deb9;
        border-radius: .4em;
        padding: 15px;
        margin-left: 70px;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 0;
        height: 0;
        border: 17px solid transparent;
        border-right-color: #e9deb9;
        border-left: 0;
        border-top: 0;
        margin-left: -17px;
    }
}

.conversation-right  {
    position: relative;
    font-size: 0.9rem;

    img {
        position: absolute;
        bottom: 0;
        right: 0;
        width:50px;
        height: 50px;
        border-radius: 50%;
    }

    .speech-bubble {
        position: absolute;
        background: #e9deb9;
        border-radius: .4em;
        padding: 15px;
        margin-right: 70px;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 0;
        height: 0;
        border: 17px solid transparent;
        border-left-color: #e9deb9;
        border-right: 0;
        border-top: 0;
        margin-right: -17px;
    }
}
