<div class="skill-comments">
    <h4 jhiTranslate="teamdojoApp.teams.skills.comments.title"></h4>
    <div class="additional-functions"></div>
    <div class="dojo-card d-flex flex-column">
        <div class="comments" data-simplebar="init">
            <div *ngFor="let comment of comments" class="message d-flex align-items-end"
                 [ngClass]="isActiveTeam(comment) ? 'message-sent' : 'message-received'">
                <jhi-team-image [team]="comment.author"></jhi-team-image>
                <div class="speech-bubble d-flex">{{comment.text}}</div>
            </div>
        </div>
        <div class="new-comment">
            <form class="form-inline" name="commentForm" #commentForm="ngForm" (ngSubmit)="onSubmit()">
                <label class="sr-only" for="new-comment" jhiTranslate="teamdojoApp.teams.skills.comments.newComment">Your comment</label>
                <textarea id="new-comment" name="newComment" maxlength="255" class="form-control d-flex new-comment-input"
                          [(ngModel)]="newComment.text" required [disabled]="!selectedTeam"></textarea>
                <button type="submit" class="btn btn-secondary send-btn ml-1"
                        [disabled]="!selectedTeam || commentForm.form.invalid">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
</div>
