<div class="skill-comments">
    <div class="dojo-card" style="position: relative">
        <div class="comments">
            <div *ngFor="let comment of comments" class="conversation"
                 [ngClass]="isActiveTeam() ? 'conversation-right' : 'conversation-left'">
                <img *ngIf="team.picture && team.pictureContentType"
                     class="team-image" [src]="team.picture | imageDataUrl: team.pictureContentType">
                <div class="speech-bubble">{{comment.text}}</div>
            </div>
        </div>
        <div class="comment-input">
            <form name="commentForm" #commentForm="ngForm" (ngSubmit)="onSubmit()">
                <input title="New comment" name="newComment" type="text" class="form-control"
                       [(ngModel)]="newComment.text" required>
                <button type="submit" class="send-btn" [disabled]="commentForm.form.invalid">
                    <i class="fa fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
</div>
