<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-level-skill-heading">Create or edit a Level Skill</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!levelSkill.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="levelSkill.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_score">Score</label>
                    <input type="number" class="form-control" name="score" id="field_score"
                        [(ngModel)]="levelSkill.score" required min="0"/>
                    <div [hidden]="!(editForm.controls.score?.dirty && editForm.controls.score?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.score?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.score?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.score?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_skill">Skill</label>
                    <select class="form-control" id="field_skill" name="skill" [(ngModel)]="levelSkill.skill"  required>
                        <option *ngIf="!editForm.value.skill" [ngValue]="null" selected></option>
                        <option [ngValue]="skillOption.id === levelSkill.skill?.id ? levelSkill.skill : skillOption" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.title}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.skill?.dirty && editForm.controls.skill?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.skill?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_level">Level</label>
                    <select class="form-control" id="field_level" name="level" [(ngModel)]="levelSkill.level"  required>
                        <option *ngIf="!editForm.value.level" [ngValue]="null" selected></option>
                        <option [ngValue]="levelOption.id === levelSkill.level?.id ? levelSkill.level : levelOption" *ngFor="let levelOption of levels; trackBy: trackLevelById">{{levelOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.level?.dirty && editForm.controls.level?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.level?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
