<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="skill">
            <h2><span>Skill</span> {{skill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{skill.title}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{skill.description}}</span>
                </dd>
                <dt><span>Implementation</span></dt>
                <dd>
                    <span>{{skill.implementation}}</span>
                </dd>
                <dt><span>Validation</span></dt>
                <dd>
                    <span>{{skill.validation}}</span>
                </dd>
                <dt><span>Expiry Period</span></dt>
                <dd>
                    <span>{{skill.expiryPeriod}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/skill', skill.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
