<div>
    <h2 id="page-heading">
        <span jhiTranslate="teamdojoApp.skill.home.title">Skills</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-skill" [routerLink]="['/skill/new']">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="teamdojoApp.skill.home.createLabel">
            Create new Skill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="skills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="teamdojoApp.skill.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="teamdojoApp.skill.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="implementation"><span jhiTranslate="teamdojoApp.skill.implementation">Implementation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validation"><span jhiTranslate="teamdojoApp.skill.validation">Validation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="expiryPeriod"><span jhiTranslate="teamdojoApp.skill.expiryPeriod">Expiry Period</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let skill of skills ;trackBy: trackId">
                <td><a [routerLink]="['/skill', skill.id, 'view' ]">{{skill.id}}</a></td>
                <td>{{skill.title}}</td>
                <td>{{skill.description}}</td>
                <td>{{skill.implementation}}</td>
                <td>{{skill.validation}}</td>
                <td>{{skill.expiryPeriod}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/skill', skill.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/skill', skill.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'skill/'+ skill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
