<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="skill">
            <h2><span jhiTranslate="teamdojoApp.skill.detail.title">Skill</span> {{skill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="teamdojoApp.skill.title">Title</span></dt>
                <dd>
                    <span>{{skill.title}}</span>
                </dd>
                <dt><span jhiTranslate="teamdojoApp.skill.description">Description</span></dt>
                <dd>
                    <span>{{skill.description}}</span>
                </dd>
                <dt><span jhiTranslate="teamdojoApp.skill.implementation">Implementation</span></dt>
                <dd>
                    <span>{{skill.implementation}}</span>
                </dd>
                <dt><span jhiTranslate="teamdojoApp.skill.validation">Validation</span></dt>
                <dd>
                    <span>{{skill.validation}}</span>
                </dd>
                <dt><span jhiTranslate="teamdojoApp.skill.expiryPeriod">Expiry Period</span></dt>
                <dd>
                    <span>{{skill.expiryPeriod}}</span>
                </dd>
                <dt><span jhiTranslate="teamdojoApp.skill.contact">Contact</span></dt>
                <dd>
                    <span>{{skill.contact}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/skill', skill.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
