.overviews-skills{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}
.noWrap {
    white-space: nowrap;
}

.active-skill,
.active-skill:hover {
    background: #f0f0f0;
}
