@import '../../../content/scss/_colors.scss';
@import '~bootstrap/scss/bootstrap';
@import '../../../content/scss/bootstrap-variables';
@import '../../../content/scss/mixins';
@import '../../teams/skill-details/skill-details-rating/skill-details-rating';

.overviews-skills {
    height: inherit;
    padding-right: 10px;
    .teams-skills-list {
        ::ng-deep .simplebar-track {
            bottom: 0.9em !important;
        }
        ::ng-deep .simplebar-scroll-content {
            padding-right: 1.94em !important;
            .simplebar-content {
                padding-left: 2px !important;
                padding-right: 5px !important;
                padding-bottom: 3.1em !important;
                margin-right: -0.74em !important;
                overflow-x: hidden;
            }
        }
        .skill-container {
            background-color: $dojo-bg-gradient-from;
        }

        .count-teams {
            white-space: nowrap;
        }

        .skill-title {
            width: 70%;
        }

        .list-group-item {
            @include skill-list-entry();
            padding: 10px;
        }
    }
}

.additional-functions {
    height: 75px;
    width: 100%;
    padding-right: 13px;
    padding-left: 2px;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    .overviews-skills {
        .teams-skills-list {
            height: calc(100vh - 242px);
            padding-right: 5px;
        }
    }
}
