@import '../../../content/scss/_colors.scss';

.overviews-skills {
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.skill-container {
    background-color: $dojo-bg-gradient-from;
}

.count-teams {
    white-space: nowrap;
    float: left;
}

.skill-title{
    width: 70%;
}

.active-skill,
.active-skill:hover {
    background: #f0f0f0;
}

#skills_searchTerm {
    background-color: #e8ddb7;
    width: 270px;
}

.additional-functions {
    height: 75px;
    width: 100%;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}
