<ng-template #popoverContent>
    <div class="d-flex flex-column align-items-center">
        <div>{{item.name}}</div>
        <small>( {{progress | number: '1.0-2' }}% )</small>
    </div>
</ng-template>
<div class="achievement-item" (click)="selectItem($event)" [ngClass]="{'active': active}"
     [ngbPopover]="popoverContent" triggers="mouseenter:mouseleave" placement="top">
    <div class="d-flex justify-content-center pt-1">
        <span class="item-image">
            <object class="image" [data]="item.picture | imageDataUrl: item.pictureContentType">
                {{item.name | truncateString}}
            </object>
        </span>
    </div>
    <p class="item-progress">
        <ngb-progressbar type="success" striped="true" height="8px" [value]="progress"></ngb-progressbar>
    </p>
</div>
