@import '~bootstrap/scss/bootstrap';
.achievement-item {
    width: 7vh;
    height: 8vh;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 1vh;

    .item-image {
        width: 5vh;
        height: 5vh;
        display: flex;
        align-items: center;
        border-radius: 50%;
        border: 2px solid gold;
        background: white !important;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .item-progress {
        height: 1vh;
        padding: 5px;
    }

    &.active {
        border-color: $gray-400;
    }
}
