<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-level-heading" jhiTranslate="teamdojoApp.level.home.createOrEditLabel">Create or edit a Level</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!level.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="level.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="level.name" required maxlength="50"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="level.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.requiredScore" for="field_requiredScore">Required Score</label>
                    <input type="number" class="form-control" name="requiredScore" id="field_requiredScore"
                        [(ngModel)]="level.requiredScore" required min="0" max="1"/>
                    <div [hidden]="!(editForm.controls.requiredScore?.dirty && editForm.controls.requiredScore?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.requiredScore?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.requiredScore?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.requiredScore?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 1 }">
                            This field cannot be more than 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.requiredScore?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.instantMultiplier" for="field_instantMultiplier">Instant Multiplier</label>
                    <input type="number" class="form-control" name="instantMultiplier" id="field_instantMultiplier"
                        [(ngModel)]="level.instantMultiplier" required min="0"/>
                    <div [hidden]="!(editForm.controls.instantMultiplier?.dirty && editForm.controls.instantMultiplier?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.instantMultiplier?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.instantMultiplier?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.instantMultiplier?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.completionBonus" for="field_completionBonus">Completion Bonus</label>
                    <input type="number" class="form-control" name="completionBonus" id="field_completionBonus"
                        [(ngModel)]="level.completionBonus" min="0"/>
                    <div [hidden]="!(editForm.controls.completionBonus?.dirty && editForm.controls.completionBonus?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.completionBonus?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.completionBonus?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.dimension" for="field_dimension">Dimension</label>
                    <select class="form-control" id="field_dimension" name="dimension" [(ngModel)]="level.dimensionId"  required>
                        <option *ngIf="!editForm.value.dimension" [ngValue]="null" selected></option>
                        <option [ngValue]="dimensionOption.id" *ngFor="let dimensionOption of dimensions; trackBy: trackDimensionById">{{dimensionOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.dimension?.dirty && editForm.controls.dimension?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.dimension?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.dependsOn" for="field_dependsOn">Depends On</label>
                    <select class="form-control" id="field_dependsOn" name="dependsOn" [(ngModel)]="level.dependsOnId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="levelOption.id" *ngFor="let levelOption of dependsons; trackBy: trackLevelById">{{levelOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="teamdojoApp.level.image" for="field_image">Image</label>
                    <select class="form-control" id="field_image" name="image" [(ngModel)]="level.imageId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="imageOption.id" *ngFor="let imageOption of images; trackBy: trackImageById">{{imageOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
