.team-image-wrapper {
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    .team-image {
        height: inherit;
        width: inherit;
        background: repeat-x center/cover;
    }
    &::after {
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        background: no-repeat center/cover url('../../../content/images/avatars/avatar_overlay.png');
        z-index: 1;
    }
}
