@import '~bootstrap/scss/bootstrap';
@import '../../../content/scss/_colors.scss';
@import "../../../content/scss/mixins";


.overviews-achievements {
    .additional-functions {
        height: 75px;
        width: 100%;
    }
    .achievement-container {
        @include accordion();
        height: inherit;
        padding-right: 10px;
        /deep/ .simplebar-track {
            bottom: 1em!important;
        }
        /deep/ .simplebar-scroll-content {
            padding-right: 1.94em !important;
            .simplebar-content {
                margin-right: -0.69em !important;
            }
        }
        .item-list-body {
            .item-list-title {
                margin-top: 5px;
            }
        }
    }
}
@media only screen and (min-width: map-get($grid-breakpoints, lg)){
    .overviews-achievements {
        .achievement-container {
            height: calc(100vh - 242px);
            padding: 5px;
        }
    }
}
