<div class="notification d-flex flex-column">
    <div class="d-flex notification-header">
        <small class="ml-auto">{{notification.activity.createdAt | date: 'dd.MM.yyyy'}}</small>
    </div>
    <div class="notification-body d-flex flex-row align-items-center">
        <div class="d-flex flex-row align-items-center" [ngSwitch]="notification.activity.type.toString()">
            <ng-container *ngSwitchCase="'BADGE_CREATED'">
                <i class="notification-body-icon fa fa-trophy fa-2x"></i>
                <jhi-achievement-item [item]="item" type="item-badge" [hasStatus]="false"
                                      [active]="false"
                                      (onItemSelected)="true"></jhi-achievement-item>
                <div class="notification-body-text" tdTranslate="teamdojoApp.notification.body.text.badgeCreated"
                     translateValues="{'badgeName':'{{notification.data.badgeName}}' }"></div>
            </ng-container>
            <ng-container *ngSwitchCase="'SKILL_COMPLETED'">
                <i class="notification-body-icon fa fa-check fa-2x"></i>
                <jhi-team-image class="notification-body-team-image" [team]="item" imageSize="small"></jhi-team-image>
                <div class="notification-body-text" tdTranslate="teamdojoApp.notification.body.text.skillCompleted" 
                translateValues="{'skillTitle':'{{notification.data.skillTitle}}'}"></div>
            </ng-container>
        </div>
    </div>
</div>
