@import '~bootstrap/scss/bootstrap';
@import '../../../content/scss/_colors.scss';
@import '../../../content/scss/mixins';

.overviews-teams {
    .additional-functions {
        height: 75px;
        width: 100%;
    }
    .team-list {
        border-style: none;
        .team-item {
            border-style: none;
            background: rgba($dojo-bg-gradient-from, 0.5);
            &.irrelevant {
                background-color: $gray-400;
                opacity: 0.5;
            }
            .team-name {
                color: $gray-800 !important;
                word-break: break-word;
            }
            .team-image {
                width: 5vh;
                min-width: 46px;
                height: 5vh;
                min-height: 46px;
                display: flex;
                align-items: center;
                border-radius: 50%;
                img {
                    width: 100%;
                }
                &.complete {
                    @include team-image();
                    &.complete {
                        border-color: $success;
                    }
                    &.incomplete {
                        border-color: $danger;
                    }
                }
                .count-container {
                    .count-item {
                        display: block;
                        margin-left: 5px;
                        .count-item-header {

                        }
                        .count-item-value {
                            float: right;
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }

    #teams_start-compare {
        background-color: #f1d7ae;
        float: right;
        margin: 5px;
        padding: 5px;
        border: $gray-400;
        color: white;
    }

    #teams_select-teams {
        background-color: $dojo-nav-primary;
        float: right;
        margin: 5px;
        padding: 5px;
        border: $gray-400;
        color: white;
    }

    input#teams_search-term {
        background-color: #e8ddb7;
        width: 270px;
        margin: 5px;
    }

    ::-webkit-input-placeholder {
        font-style: italic;
    }

    :-moz-placeholder {
        font-style: italic;
    }

    ::-moz-placeholder {
        font-style: italic;
    }

    :-ms-input-placeholder {
        font-style: italic;
    }

    @media only screen and (min-width: map-get($grid-breakpoints, md)) {
        .overviews-teams {
            .team-list {
                height: calc(100vh - 242px);
                overflow-y: auto;
                padding: 5px;
                &:hover, &:focus {
                    overflow-y: auto;
                    margin-right: 0em;
                }
            }
        }
    }
}
