@import '~bootstrap/scss/bootstrap';
.overviews-teams {
    .team-list {
        .team-item {
            &.irrelevant {
                opacity: 0.5;
            }
            .team-image {
                width: 6vh;
                min-width: 46px;
                height: 6vh;
                min-height: 46px;
                display: flex;
                align-items: center;
                border-radius: 50%;
                border: 2px solid #e5e1d8;
                background: white !important;
                overflow: hidden;
                img {
                    width: 100%;
                }
                &.complete{
                    border-color: $success;
                }
                &.incomplete {
                    border-color: $danger;
                }
            }
            .team-name {
                color: black;
                word-break: break-word;
            }
            .count-container {
                .count-item {
                    display: block;
                    margin-left: 5px;
                    .count-item-header {

                    }
                    .count-item-value {
                        float: right;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)){
    .overviews-teams {
        .team-list {
            height: calc(100vh - 242px);
            overflow-y: auto;
            padding: 5px;
        }
    }
}
