@import '../../../../content/scss/colors';
@import '~bootstrap/scss/bootstrap';

.notification-menu {
    padding: 15px 5px 15px 15px;

    &-header {
        a {
            width: 100px;
            border: none;
            border-radius: 0;
            background-color: #9a9f7c;
            color: $dojo-text-inverse-primary;
            &:focus {
                box-shadow: none;
            }
        }
        .active {
            background-color: $warning;
        }
    }
    &-items {
        height: 100%;
        max-height: calc(100vh - 200px);
        position: relative;
        overflow-y: auto;
        padding-right: 15px;
        ::ng-deep .simplebar-scroll-content {
            padding-right: 1.4em !important;
            .simplebar-content {
                padding-left: 2px !important;
                padding-right: 5px !important;
                margin-right: -0.69em !important;
                overflow-x: hidden !important;
            }
        }
    }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
    .notification-menu {
        min-width: 550px;
    }
}
