<nav class="navbar navbar-dark navbar-expand-md jh-navbar">
    <div class="jh-logo-container float-left">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse"
           data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
           aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
            <span class="logo-img"></span>
        </a>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">{{organizationName}}</a></li>
                <li class="breadcrumb-item" *ngFor='let breadcrumb of breadcrumbs' [ngClass]="{active: breadcrumb.active}">
                    <a *ngIf="!breadcrumb.active" href="#{{breadcrumb.path}}">
                        {{breadcrumb.text | truncateString: 20}}
                    </a>
                    <span *ngIf="breadcrumb.active">{{breadcrumb.text | truncateString: 20}}</span>
                </li>
            </ol>
        </nav>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed"
         [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav ml-auto">
            <li ngbDropdown autoClose="outside" placement="bottom" (openChange)="notificationMenu.loadNotifications()"
                class="nav-item dropdown pointer">
                <a class="nav-link dropdown-toggle nav-info" ngbDropdownToggle href="javascript:void(0);"
                   id="notificationnavBarDropdown">
                    <span class="icon">
                        <i class="fa fa-comment fa-4 mr-1"></i>
                        <span class="nav-info" jhiTranslate="global.menu.notification.main"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <jhi-notification-menu #notificationMenu></jhi-notification-menu>
                </ul>
            </li>
            <li class="nav-item" *ngIf="!selectedTeam">
                <a class="nav-link" (click)="selectTeam()">
                     <span class="icon">
                         <i class="fa fa-users fa-2"></i>
                         <span class="nav-info" jhiTranslate="global.menu.teams.select"></span>
                     </span>
                </a>

            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="selectedTeam">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="teamDropdown">
                    <div class="mr-1">
                        <jhi-team-image [team]="selectedTeam" size="35px" imageSize="small"></jhi-team-image>
                    </div>
                    <span>{{selectedTeam.name}}</span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item"
                           [routerLink]="['/teams', selectedTeam.shortName]">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.teams.home">Living Room</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="selectTeam()">
                            <i class="icon fa fa-users" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.teams.change">Change Team</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span>
                        <i class="fa fa-th-list" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.entities.main">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="dimension" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.dimension">Dimension</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="skill" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.skill">Skill</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="team" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.team">Team</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="team-skill" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.teamSkill">Team Skill</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="level" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.level">Level</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="badge" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.badge">Badge</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="badge-skill" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.badgeSkill">Badge Skill</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="level-skill" routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.levelSkill">Level Skill</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="organization" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.organization">Organization</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.report">Report</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="comment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.comment">Comment</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="activity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.activity">Activity</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="image" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.image">Image</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="team-skill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.teamSkill">Team Skill</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.admin.main">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-tracker" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle nav-info" ngbDropdownToggle href="javascript:void(0);"
                   id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span class="navbar-icon"><i class="fa fa-globe"></i></span>
                    <span class="nav-info" jhiTranslate="global.menu.language"></span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"
                           (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"
                *ngIf="isAuthenticated()" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="settings" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="password" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="sessions" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-cloud" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.sessions">Sessions</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
