/* ==========================================================================
Navbar
========================================================================== */
.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
    .jh-logo-container {
        nav {
            display: inline-block;
            padding: 5px 0px;
            .breadcrumb {
                background-color: transparent;
                padding: 0.75rem 0.25rem;
                .breadcrumb-item + .breadcrumb-item::before {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\F054";
                }
                .breadcrumb-item.active, .breadcrumb-item::before {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .team-avatar {
        display: inline-flex;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #ccc;
        background: white !important;
        overflow: hidden;
        width: 35px;
        height: 35px;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
            white-space: nowrap;
        }
    }
    a.nav-link {
        font-weight: 400;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
    }
    a.nav-link.dropdown-toggle > span {
        margin-right: 5px;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
    .nav-img {
        height: 18px;
        width: 18px;
        display: inline-block;
        vertical-align: middle;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    .language-img {
        background: url("../../../content/images/language.svg") no-repeat center center;
    }
    .team-img {
        background: url("../../../content/images/team.svg") no-repeat center center;
    }
    .navInfo {
        color: white;
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 5px 0px;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/security-belt.svg") no-repeat center center;
            background-size: contain;
        }
    }
}
