<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="team">
            <h2><span>Team</span> {{team.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{team.name}}</span>
                </dd>
                <dt><span>Picture</span></dt>
                <dd>
                    <div *ngIf="team.picture">
                        <a (click)="openFile(team.pictureContentType, team.picture)">
                            <img [src]="'data:' + team.pictureContentType + ';base64,' + team.picture" style="max-width: 100%;" alt="team image"/>
                        </a>
                        {{team.pictureContentType}}, {{byteSize(team.picture)}}
                    </div>
                </dd>
                <dt><span>Contact Person</span></dt>
                <dd>
                    <span>{{team.contactPerson}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/team', team.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
