<h4 class="skill-title">{{skill.title}}</h4>

<div class="skill-actions" *ngIf="isSameTeamSelected()">
    <button class="irrelevant action-btn" *ngIf="!achievableSkill.irrelevant" (click)="onToggleIrrelevance(true)">
        <i class="fa fa-thumbs-o-down"></i> Irrelevant
    </button>

    <button class="irrelevant action-btn" *ngIf="achievableSkill.irrelevant" (click)="onToggleIrrelevance(false)">
        <i class="fa fa-thumbs-o-up"></i> Relevant
    </button>

    <span *ngIf="!achievableSkill.irrelevant">
        <button *ngIf="!skillAchieved()" class="activation action-btn" (click)="onToggleSkill(true)">
            <i class="fa fa-check"></i> Erlernen
        </button>

        <button *ngIf="skillAchieved()" class="activation action-btn" (click)="onToggleSkill(false)">
            <i class="fa fa-circle-o"></i> Verlernen
        </button>
    </span>
</div>

<div>
    <div class="skill-rating mockup">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>

        <span class="rating-text">3 von 5 Sternen</span>
    </div>

    <div class="skill-contact mockup">
        <span>Ansprechpartner: Max Mustermann</span>
    </div>
    <div class="clearfix"></div>
</div>


<div class="dojo-card">
    <div class="skill-desc desc-block">
        <h5 jhiTranslate="teamdojoApp.teams.skills.details.desc"></h5>
        <p>{{skill.description}}</p>
    </div>
    <div class="skill-impl desc-block">
        <h5 jhiTranslate="teamdojoApp.teams.skills.details.implementation"></h5>
        <p>{{skill.implementation}}</p>
    </div>
    <div class="skill-validation desc-block">
        <h5 jhiTranslate="teamdojoApp.teams.skills.details.validation"></h5>
        <p>{{skill.validation}}</p>
    </div>

    <div class="needed-for">
        <h5 jhiTranslate="teamdojoApp.teams.skills.details.neededFor"></h5>
        <div class="needed-for-avatars">
            <div class="needed-for-levels">
                <div *ngFor="let l of neededForLevels" class="avatar avatar-level" placement="top"
                     [ngbTooltip]="l.name">
                    <img [src]="l.picture | imageDataUrl: l.pictureContentType"/>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="needed-for-badges">
                <div *ngFor="let b of neededForBadges" class="avatar avatar-badge" placement="top"
                     [ngbTooltip]="b.name">
                    <img [src]="b.logo | imageDataUrl: b.logoContentType"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="achieved-by">
        <h5 jhiTranslate="teamdojoApp.teams.skills.details.achievedBy"></h5>
        <div class="achieved-by-teams">
            <div *ngFor="let t of achievedByTeams" class="avatar-team" placement="top" [ngbTooltip]="t.name">
                <img [src]="t.picture | imageDataUrl: t.pictureContentType"/>
            </div>
            <p *ngIf="achievedByTeams.length === 0"
               jhiTranslate="teamdojoApp.teams.skills.details.achievedByNone"></p>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


