.skill-title {
    margin-bottom: 15px;
}
.desc-block {

    margin-bottom: 35px;
}

.skill-actions {
    margin-bottom: 15px;
    margin-left: 2px;
}

.skill-rating {
    margin-bottom: 20px;
    margin-left: 2px;
    float: left;
    .rating-text {
        margin-left: 5px;
    }
}
.skill-contact {
    float: right;
}

.action-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    margin-right: 15px;
    i {
        margin-right: 3px;
    }
}

.action-btn:hover {
    border-color: #ccc;
}

.action-btn:active,
.action-btn:focus {
    outline: 0;
}
.action-btn:active {
    border-color: #555;
}

.irrelevant {
    i {
        -moz-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        transform: scale(-1, 1);
    }
}

.dojo-card {
    background: #FFFAF7;
    box-shadow: 1px 1px 5px #ccc;
}

.needed-for {
    margin-top: 55px;
}

.achieved-by {
    margin-top: 15px;
}

.achieved-by-teams, .needed-for-levels, .needed-for-badges {
    margin-top: 15px;
}

.avatar-badge, .avatar-level, .avatar-team {
    display: flex;
    float: left;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #ddd;
    padding: 3px;
    background: white !important;
    overflow: hidden;
    img {
        width: 100%;
    }
    width: 70px;
    height: 70px;
    margin: 0 5px 5px 0;
}

.avatar-level {
    border-color: gold;
}

.avatar-badge {
    border-color: #3F51B5;
}

.skill-list-item {
    cursor: pointer;
}
