.background-image {
    background-size: cover;
    display: block;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    margin-top: 140px;
    position: fixed;
    z-index: -1;
    border-radius: 50%;
}
