<div class="row teams">
    <div class="col-md-6">
        <a class="breadcrumb-item active" href="#">&lt;{{'teamdojoApp.overview.navigation.text' | translate}}</a>
        <jhi-teams-status [team]="team"></jhi-teams-status>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-8">
                <jhi-teams-achievements [team]="team" [badges]="badges"></jhi-teams-achievements>
            </div>
            <div class="col-md-4">
                <jhi-teams-skills [team]="team"></jhi-teams-skills>
            </div>
        </div>
    </div>
</div>
