@import '~bootstrap/scss/bootstrap';
@import "../../content/scss/colors";
@import "../../content/scss/mixins";
.teams-achievements {
    height: inherit;
    overflow-y: auto;
    padding-right: 10px;
    .achievement-list {

    }
    &-body {
        .achievement-list-title {
            margin-top: 5px;
        }
    }

    /*.achievement-list-header {
        &-left {
            padding: 6px;
            border-right: 1px solid rgba(0, 0, 0, 0.125);
            &-image{
                @include achievement-image()
            }
        }
        &-right {
            padding-left: 10px;
            color: $gray-800
        }

    }*/

    /deep/ .card-header {
        padding: 0;
        background-color: $dojo-bg-gradient-from;
        a {
            text-decoration: none;
        }
    }
    /deep/ .card {
        @include shadow();
        margin-top: 25px;
        background-color: $dojo-bg-gradient-from;
        border: none;
    }
}
