<div class="teams-skills">
    <div class="mockup">
        <h4>{{'teamdojoApp.teams.skills.title' | translate}}</h4>
        <!--<form class="form-inline">-->
            <div class="form-group mr-1 mb-2">
                <input type="text" class="form-control" id="skills_searchTerm" disabled
                       [placeholder]="'teamdojoApp.teams.skills.search.placeholder' | translate">
            </div>
            <button type="submit" class="btn btn-secondary mb-2" disabled><span class="fa fa-search"></span></button>
            <div class="form-group m-2">
                <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="fooCheck" disabled>
                    <label class="form-check-label" for="fooCheck">
                        {{'teamdojoApp.teams.skills.search.filter.achieved' | translate}}
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div infinite-scroll (scrolled)="loadPage(page + 1)"
             [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="1"
             [infiniteScrollContainer]="'.teams-skills-list'">
            <div class="teams-skills-list list-group">
                <a href="" (click)="false"
                   class="list-group-item list-group-item-action flex-column align-items-start mb-2"
                   *ngFor='let skill of skills'>
                    <div class="d-flex w-100 justify-content-between">
                        <p class="mb-1">{{skill.title}}</p>
                        <small *ngIf="!skill.achievedAt" class="teams-skills-badge badge badge-pill badge-danger"
                               ngbPopover="{{'teamdojoApp.teams.skills.notAchieved' | translate}}"
                               triggers="mouseenter:mouseleave" placement="left">!
                        </small>
                        <small *ngIf="skill.achievedAt" class="teams-skills-badge badge badge-pill badge-success"
                               ngbPopover="{{'teamdojoApp.teams.skills.achievedOn' | translate}} {{skill.achievedAt | date: ('teamdojoApp.teams.dateFormat' | translate)}}"
                               triggers="mouseenter:mouseleave"
                               placement="left">✓
                        </small>
                    </div>
                    <p class="mb-1"></p>
                    <small>{{skill.description}}</small>
                </a>
            </div>
        </div>
    </div>
</div>
