<div class="row back">
    <div class="col-md-6">
        <a class="breadcrumb-item active" href="#"><i class="fa fa-angle-left"></i>{{'teamdojoApp.overview.navigation.text' | translate}}</a>
    </div>
</div>
<div class="row teams">
    <div class="col-md-6">
        <jhi-teams-status [team]="team" [teamSkills]="teamSkills" [badges]="badges" [skills]="skills"></jhi-teams-status>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-lg-7">
                <jhi-teams-achievements [team]="team" [teamSkills]="teamSkills" [badges]="badges" [skills]="skills"></jhi-teams-achievements>
            </div>
            <div class="col-lg-5">
                <jhi-teams-skills [iSkills]="skills" [team]="team" (onSkillChanged)="loadTeamSkills()"></jhi-teams-skills>
            </div>
        </div>
    </div>
</div>
