@import '~bootstrap/scss/bootstrap';
@import "../../content/scss/colors";
@import "../../content/scss/mixins";

.teams-achievements {
    @include accordeon();
    height: inherit;
    overflow-y: auto;
    padding-right: 10px;
    .achievement-list {

    }
    &-body {
        .achievement-list-title {
            margin-top: 5px;
        }
    }
}
