<div class="teams-achievements">
    <h4>{{'teamdojoApp.teams.achievements.title' | translate}}</h4>
    <div class="teams-achievements-badges">
        <ngb-accordion activeIds="achievements-badge-0">
            <ngb-panel id="achievements-badge-0">
                <ng-template ngbPanelTitle>
                    <i class="fa fa-caret-right mr-2"></i><span>{{'teamdojoApp.teams.achievements.badges.title' | translate}}</span>
                    <span class="float-right"><span class="mockup minor px-2">0</span>/{{badges.length}}</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="achievements-badges">
                        <div class="d-flex align-items-center achievements-badge" [ngClass]="{'mb-3': !isLast}"
                             *ngFor="let badge of badges; trackBy: trackId; last as isLast">
                            <div class="badge-image">
                                <img [title]="badge.name" *ngIf="badge.logo && badge.logoContentType"
                                     [src]="badge.logo | imageDataUrl: badge.logoContentType"/>
                            </div>
                            <div class="badge-name ml-2">{{badge.name}}</div>
                            <div class="ml-auto achievement-progress mockup minor px-2">
                                <svg viewBox="0 0 32 32">
                                    <circle r="16" cx="16" cy="16" style="stroke-dasharray: 40 100;"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="mt-1 teams-achievements-dimensions">
        <ngb-accordion [activeIds]="activeDimensionCssId">
            <ngb-panel id="achievements-dimension-{{dimension.id}}"
                       *ngFor="let dimension of team.participations; trackBy: trackId">
                <ng-template ngbPanelTitle>
                    <div class="d-flex align-items-center achievements-dimension">
                        <div class="d-flex align-items-center">
                            <i class="fa fa-caret-right mr-2"></i>
                            <div class="d-inline-block mockup minor px-2">
                                <div class="skill-level-image">
                                    <img title="Current skill level"/>
                                </div>
                            </div>
                            <span>{{dimension.name}}</span>
                        </div>
                        <div class="ml-auto">
                            <span class="mockup minor px-2">0</span>/{{(levels[dimension.id] || []).length}}
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="achievements-skill-levels">
                        <div class="d-flex align-items-center achievements-skill-level" [ngClass]="{'mb-3': !isLast}"
                             *ngFor="let level of levels[dimension.id]; trackBy: trackId; last as isLast">
                            <div class="skill-level-image">
                                <img [title]="level.name" *ngIf="level.picture && level.pictureContentType"
                                     [src]="level.picture | imageDataUrl: level.pictureContentType"/>
                            </div>
                            <div class="skill-level-name ml-2">{{level.name}}</div>
                            <div class="ml-auto achievement-progress mockup minor px-2">
                                <svg viewBox="0 0 32 32">
                                    <circle r="16" cx="16" cy="16" style="stroke-dasharray: 12 100;"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
