.teams-skills {
    padding-right: 10px;
    .teams-skills-list {
        height: calc(100vh - 259px);
        overflow-y: auto;
        padding: 5px;
        .teams-skills-badge {
            padding: 6px;
            min-width: 40px;
            max-height: 26px;
            margin-bottom: 2px;
        }
    }
}
