<div class="teams-status">
    <div class="teams-status-avatar">
        <img class="avatar-image" [src]="teamImage"/>
        <h1 *ngIf="team.slogan" class="avatar-slogan">{{team.slogan}}</h1>
        <h4 *ngIf="team.slogan" class="avatar-title">{{team.name}}</h4>
        <h1 *ngIf="!team.slogan" class="avatar-title">{{team.name}}</h1>
    </div>
    <div class="teams-status-activities">
        <h4>Activities</h4>
        <div class="activity-cards">
            <div class="card">
                <div class="card-body">
                    <span class="activity-date">22.02.2018</span>
                    <div>
                        <i class="fa fa-certificate belt-orange"></i>
                        <span>Orange Belt in Security acquired!</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <span class="activity-date">05.02.2018</span>
                    <div>
                        <i class="fa fa-gift"></i>
                        <span>AWS Ready Badge received!</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <span class="activity-date">04.02.2018</span>
                    <div>
                        <i class="fa fa-certificate belt-yellow"></i>
                        <span>Yellow Belt in Security acquired!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
