<div class="teams-status">
    <div class="teams-status-avatar d-flex flex-column justify-content-center">
        <div class="mx-auto mt-3">
            <jhi-team-image [team]="team" [hasPlaceholder]="false" [hasBorder]="false" [hasOverlay]="true" size="35vh" imageSize="large">
            </jhi-team-image>
        </div>
        <div class="avatar-image-wrapper d-flex align-self-center">
            <div class="avatar-image" [ngClass]="hasLeveledUp ? 'avatar-image-level-up' : 'avatar-image-default'"></div>
        </div>
        <div class="status-meta d-flex justify-content-center mx-auto">
            <div class="status-meta-text d-flex flex-column justify-content-center align-items-center">
                <h5 *ngIf="!team.slogan; else sloganWithTitle" class="team-title mb-0">{{team.name}}</h5>
                <ng-template #sloganWithTitle>
                    <h5 class="team-slogan mb-0">{{team.slogan}}</h5>
                    <h6 class="team-title mt-0 mb-0">{{team.name}}</h6>
                </ng-template>
                <div class="team-score"><span>{{teamScore}}</span></div>
            </div>
        </div>
    </div>
    <div class="teams-status-achievements">
        <div class="teams-status-achievements-levels d-flex flex-wrap justify-content-center mb-1">
            <div class="mx-2" *ngFor="let highestLevel of highestAchievedLevels">
                <div>
                    <div class="d-flex justify-content-center">
                        <h5>{{highestLevel.dimension.name}}</h5>
                    </div>
                    <div class="d-flex d-inline-flex">
                        <jhi-achievement-item [item]="highestLevel.level" type="item-level" [hasStatus]="false"
                                              [active]="false"
                                              (onItemSelected)="selectItem('level', highestLevel.level.id)"></jhi-achievement-item>
                        <div class="d-flex align-items-center">
                            <h1>{{highestLevel.ordinal}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="teams-status-achievements-badges d-flex flex-wrap justify-content-center">
            <div *ngFor="let badge of completedBadges">
                <jhi-achievement-item [item]="badge" type="item-badge" [hasStatus]="false"
                                      [active]="false"
                                      (onItemSelected)="selectItem('badge', badge.id)"></jhi-achievement-item>
            </div>
        </div>
    </div>
</div>
