<div class="teams-achievements">
    <h4>{{'teamdojoApp.teams.achievements.title' | translate}}</h4>
    <div class="achievement-container" data-simplebar="init">
        <ngb-accordion activeIds="achievements-general-badges">
            <ngb-panel id="achievements-general-badges">
                <ng-template ngbPanelTitle>
                    <div class="achievement-list-header d-flex align-items-center">
                        <div class="achievement-list-header-left">
                                <span class="achievement-list-header-left-image">
                                    <jhi-achievement-item type="item-badge" size="4vh" [item]="{'name': 'recent'}">
                                    </jhi-achievement-item>
                                </span>
                        </div>
                        <div class="achievement-list-header-right">

                            <i class="fa fa-caret-right mr-2"></i>
                            <span jhiTranslate="teamdojoApp.teams.achievements.generalBadges.title"></span>
                        </div>
                    </div>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="item-list-body">
                        <div class="d-flex flex-wrap">
                            <div class="" *ngFor="let badge of generalBadges">
                                <jhi-achievement-item type="item-badge" [hasStatus]="true" [item]="badge"
                                                      [progress]="getAchievementProgress(badge)"
                                                      [irrelevancePercentage]="getAchievementIrrelevancy(badge)"
                                                      [active]="activeItemIds.badge === badge.id"
                                                      (onItemSelected)="selectItem('badge', badge.id)">
                                </jhi-achievement-item>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <div class="mt-1">
            <ngb-accordion [activeIds]="expandedDimensions">
                <ngb-panel class="mt-1" *ngFor="let dimension of team.participations"
                           id="achievements-dimension-{{dimension.id}}">
                    <ng-template ngbPanelTitle>
                        <div class="achievement-list-header d-flex align-items-center">
                            <div class="achievement-list-header-left">
                                <div *ngIf="getHighestAchievedLevel(dimension) as highestLevel; else noLevelAchieved">
                                    <jhi-achievement-item type="item-level" size="4vh" [item]="highestLevel">
                                    </jhi-achievement-item>
                                </div>
                                <ng-template #noLevelAchieved>
                                    <span class="achievement-list-header-left-image">
                                        <jhi-achievement-item type="item-level" size="4vh" [item]="{'name': 'none'}">
                                        </jhi-achievement-item>
                                    </span>
                                </ng-template>
                            </div>
                            <div class="achievement-list-header-right">
                                <i class="fa fa-caret-right mr-2"></i>
                                <span>{{dimension.name}}</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div>
                            <div *ngIf="dimension.levels.length" class="item-list-title"
                                 jhiTranslate="teamdojoApp.overview.achievements.dimensions.levels.title"></div>
                            <div class="d-flex flex-wrap">
                                <div *ngFor="let level of dimension.levels">
                                    <jhi-achievement-item type="item-level" [hasStatus]="true" [item]="level"
                                                          [progress]="getAchievementProgress(level)"
                                                          [irrelevancePercentage]="getAchievementIrrelevancy(level)"
                                                          [active]="activeItemIds.level === level.id"
                                                          [completable]="isCompletable(level, dimension)"
                                                          (onItemSelected)="selectItem('level', level.id)">
                                    </jhi-achievement-item>
                                </div>
                            </div>
                            <div *ngIf="dimension.badges.length" class="item-list-title"
                                 jhiTranslate="teamdojoApp.overview.achievements.dimensions.badges.title"></div>
                            <div class="d-flex flex-wrap">
                                <div *ngFor="let badge of dimension.badges">
                                    <jhi-achievement-item type="item-badge" [hasStatus]="true" [item]="badge"
                                                          [progress]="getAchievementProgress(badge)"
                                                          [irrelevancePercentage]="getAchievementIrrelevancy(badge)"
                                                          [active]="activeItemIds.badge === badge.id"
                                                          (onItemSelected)="selectItem('badge', badge.id)">
                                    </jhi-achievement-item>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>
