@import '../../content/scss/colors';
.teams-status {
    height: inherit;
    overflow-y: auto;
    padding-right: 10px;
    .teams-status-avatar {
        text-align: center;
        .team-image-wrapper {
            width: 35vh;
            height: 35vh;
            overflow: hidden;
            border-radius: 50%;
            .team-image {
                height: inherit;
                width: inherit;
                background: repeat-x center/cover;
            }
            &::after {
                content: '';
                width: inherit;
                height: inherit;
                position: absolute;
                background: no-repeat center/cover url('../../content/images/avatars/avatar_overlay.png');
                z-index: 1;
            }
        }
        .avatar-image {
            width: 30vh;
            height: 41vh;
            position: absolute;
            background: no-repeat center/contain url('../../content/images/avatars/avatar_default.png');
            top: 0.5rem;
            margin-left: 5vh;
            z-index: 3;
        }
        .status-meta {
            width: 44vh;
            height: 15vh;
            color: $dojo-text-inverse-secondary;
            .team-title, .team-slogan {
                font-size: 2.3vh;
                z-index: 4;
            }
            .team-score {
                font-size: 1.8vh;
                z-index: 4;
                &::before {
                    content: '';
                    width: 1.8vh;
                    height: 2.5vh;
                    position: absolute;
                    background: no-repeat center/contain url('../../content/images/coin.png');
                    margin-left: -2vh;
                    z-index: 4;
                }
            }
            &::after {
                content: '';
                width: inherit;
                height: inherit;
                position: absolute;
                background: no-repeat center/cover url('../../content/images/brushstroke.png');
                z-index: 2;
                margin: -6vh 0 0 4vh;
            }
        }
    }
    .teams-status-achievements {
        .teams-status-achievements-levels {
            h5 {
                margin-bottom: 0;
            }
            /deep/ .achievement-item {
                padding-top: 0;
            }
        }
        .teams-status-achievements-badges {
        }

    }
}
