@import '~bootstrap/scss/bootstrap';
@media only screen and (min-width: map-get($grid-breakpoints, md)){
    .teams {
        height: calc(100vh - 151px);
        overflow: hidden;
        > * {
            height: 100%;
            > * {
                height: inherit;
                > * {
                    height: inherit;
                    > * {
                        height: inherit;
                    }
                }
            }
        }
    }
}
