<div class="teams-achievements">
    <div class="mockup">
        <h4>{{'teamdojoApp.teams.achievements.title' | translate}}</h4>
        <div class="teams-achievements-badges">
            <ngb-accordion activeIds="achievements-badge-0">
                <ngb-panel id="achievements-badge-0">
                    <ng-template ngbPanelTitle>
                        <i class="fa fa-caret-right mr-2"></i><span>{{'teamdojoApp.teams.achievements.badges.title' | translate}}</span>
                        <span class="float-right">0/{{badges.length}}</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="achievements-badges">
                            <div class="d-flex align-items-center mb-3 achievements-badge"
                                 *ngFor="let badge of badges ;trackBy: trackId">
                                <div class="badge-image">
                                    <img [title]="badge.name" *ngIf="badge.logo && badge.logoContentType"
                                         [src]="badge.logo | imageDataUrl: badge.logoContentType"/>
                                </div>
                                <div class="badge-name ml-2">{{badge.name}}</div>
                                <div class="ml-auto achievement-progress">
                                    <svg viewBox="0 0 32 32">
                                        <circle r="16" cx="16" cy="16" style="stroke-dasharray: 40 100;"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        <div class="mt-1 teams-achievements-dimensions">
            <ngb-accordion activeIds="achievements-dimension-0">
                <ngb-panel id="achievements-dimension-0">
                    <ng-template ngbPanelTitle>
                        <i class="fa fa-caret-right mr-2"></i><span>Security</span>
                        <span class="float-right">2/6</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="achievements-skill-levels">
                            <div class="d-flex align-items-center mb-3 achievements-skill-level">
                                <div class="skill-level-image"><img title="Black belt in Security"
                                                                    src="https://fujisports.eu/media/cache/6f/93/6f93b2f540d5ece4bd43cbaf318635cd.png"/>
                                </div>
                                <div class="skill-level-name ml-2">Black Belt</div>
                                <div class="ml-auto achievement-progress">
                                    <svg viewBox="0 0 32 32">
                                        <circle r="16" cx="16" cy="16" style="stroke-dasharray: 12 100;"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3 achievements-skill-level">
                                <div class="skill-level-image"><img title="Brown belt in Security"
                                                                    src="https://fujisports.eu/media/cache/1e/6c/1e6c0cb521a777e1932ecc92239ea4a5.png"/>
                                </div>
                                <div class="skill-level-name ml-2">Brown Belt</div>
                                <div class="ml-auto achievement-progress">
                                    <svg viewBox="0 0 32 32">
                                        <circle r="16" cx="16" cy="16" style="stroke-dasharray: 34 100;"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3 achievements-skill-level">
                                <div class="skill-level-image"><img title="Blue belt in Security"
                                                                    src="https://fujisports.eu/media/cache/7c/88/7c88ff94a1a6414e9a966eea69560a80.png"/>
                                </div>
                                <div class="skill-level-name ml-2">Blue Belt</div>
                                <div class="ml-auto achievement-progress">
                                    <svg viewBox="0 0 32 32">
                                        <circle r="16" cx="16" cy="16" style="stroke-dasharray: 70 100;"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3 achievements-skill-level">
                                <div class="skill-level-image"><img title="Green belt in Security"
                                                                    src="https://fujisports.eu/media/cache/84/fc/84fc8295e29460ffeabd51e12537b15a.png"/>
                                </div>
                                <div class="skill-level-name ml-2">Green Belt</div>
                                <div class="ml-auto achievement-progress">
                                    <svg viewBox="0 0 32 32">
                                        <circle r="16" cx="16" cy="16" style="stroke-dasharray: 92 100;"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-3 achievements-skill-level">
                                <div class="skill-level-image"><img title="Orange belt in Security"
                                                                    src="https://fujisports.eu/media/cache/ee/bc/eebc70f658bffbe07e0cf55cb01e0822.png"/>
                                </div>
                                <div class="skill-level-name ml-2">Orange Belt</div>
                                <div class="ml-auto achievement-progress">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-0 achievements-skill-level">
                                <div class="skill-level-image"><img title="Yellow belt in Security"
                                                                    src="https://fujisports.eu/media/cache/89/a1/89a10af8b43b66f7cefc70a90f589c29.png"/>
                                </div>
                                <div class="skill-level-name ml-2">Yellow Belt</div>
                                <div class="ml-auto achievement-progress">
                                    <i class="fa fa-check"></i>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="achievements-dimension-1" [disabled]="true">
                    <ng-template ngbPanelTitle>
                        <i class="fa fa-caret-right mr-2"></i><span>Qualit&auml;tssicherung</span>
                        <span class="float-right">0/0</span>
                    </ng-template>
                    <ng-template ngbPanelContent>

                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>
