<div class="teams-skills">
    <div class="teams-skills-filter">
        <h4>{{'teamdojoApp.teams.skills.title' | translate}}</h4>
        <form class="form-inline">
            <div class="form-group mr-1 mb-2 mockup">
                <input type="text" class="form-control" id="skills_searchTerm" disabled
                       [placeholder]="'teamdojoApp.teams.skills.search.placeholder' | translate">
            </div>
            <button type="submit" class="btn btn-secondary mb-2" disabled><span class="fa fa-search"></span></button>
            <div class="form-group m-2">
                <div class="form-check form-check-inline mb-2">
                    <input class="form-check-input" type="checkbox" value="" id="checkComplete" [checked]="filters.indexOf('COMPLETE') > -1" (click)="onFilterClicked('COMPLETE')">
                    <label class="form-check-label" for="checkComplete" jhiTranslate="teamdojoApp.teams.skills.search.filter.completed">
                        COMPLETE
                    </label>
                </div>
                <div class="form-check form-check-inline mb-2" >
                    <input class="form-check-input" type="checkbox" value="" id="checkIncomplete" [checked]="filters.indexOf('INCOMPLETE') > -1" (click)="onFilterClicked('INCOMPLETE')">
                    <label class="form-check-label" for="checkIncomplete" jhiTranslate="teamdojoApp.teams.skills.search.filter.incompleted">
                        INCOMPLETE
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div infinite-scroll (scrolled)="loadPage(page + 1)"
             [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="1"
             [infiniteScrollContainer]="'.teams-skills-list'">
            <div class="teams-skills-list list-group">
                <li class="list-group-item list-group-item-action flex-column align-items-start mb-2"
                    *ngFor='let skill of skills' [ngClass]="{'active-skill':isActiveSkill(skill)}">
                    <div class="d-flex w-100 justify-content-between">

                        <a *ngIf="!isInSkillDetails()" [routerLink]="['/teams', team.shortName,'skills', skill.skillId]" class="text-dark mb-1">{{skill.title}}</a>
                        <a *ngIf="isInSkillDetails()" (click)="handleSkillClicked(skill)" class="text-dark mb-1">{{skill.title}}</a>
                        <jhi-toggle-switch [checked]="!!skill.achievedAt"
                                       [disabled]="!isSameTeamSelected()"
                                       popoverText="{{!skill.achievedAt ? ('teamdojoApp.teams.skills.notAchieved' | translate)
                                        : ('teamdojoApp.teams.skills.achievedOn' | translate) +' ' + (skill.achievedAt | date: ('teamdojoApp.teams.dateFormat' | translate))}}"
                                       (onToggled)="onToggled($event, skill)"></jhi-toggle-switch>
                    </div>
                    <p class="mb-1"></p>
                    <small>{{skill.description}}</small>
                </li>
            </div>
        </div>
    </div>
</div>
