.modal-body {
    padding: 1rem
}
.team-item {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 0.15rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.team-shortname {
    margin: 5px 0;
}
.team-item:hover {
    background: #fafafa;
    cursor: pointer;
}
.team-item.selected {
    border-color: #3E8ACC;
    font-weight: bold;
}
.team-item.selected:hover {
    background: white;
    font-weight: bold;
}

.team-item-row {
    text-align: center;
    padding: 3px 0;
}

.team-avatar {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: white !important;
    overflow: hidden;
    img {
        width: 100%;
    }
}
