@import '~bootstrap/scss/bootstrap';
@import '../../../../content/scss/bootstrap-variables';
@import '../../../../content/scss/colors';

.skill-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

.desc-block {
    margin-bottom: 35px;
}

@media (min-width: 576px) {
    .col-20 {
        width: 100%;
    }

    .col-60 {
        width: 100%;
    }

    .skill-details {
        * {
            box-sizing: border-box;
        }
    }
}
@media (min-width: 992px) {
    .col-20 {
        width: 20%;
    }

    .col-60 {
        width: 60%;
    }

    .skill-details {
        * {
            box-sizing: border-box;
        }

        .skills-list {
            padding-right: 10px;
        }
        .skill-info {
            padding: 0 10px;
        }
        .skill-comments {
            padding-left: 10px;
        }
    }
}

.skill-comments {
    h4 {
        color: $dojo-text-primary;
    }

    ::ng-deep .additional-functions {
        height: 55px;
    }
}
