@import '~bootstrap/scss/bootstrap';

.skill-title {
    margin-top: 25px;
    margin-bottom: 25px;
}
.skill-deactivate {
    margin-bottom: 30px;
    button {
        width: 300px;
    }
}
.desc-block {
    margin-bottom: 35px;
}

.irrlevant-control {
    margin-top: 30px;
    * {
        vertical-align: middle;
    }
    input[type=checkbox] {
        width: 30px;
        height: 30px;
    }
    label {
        margin: 0;
    }
}

.achieved-by-teams, .needed-for-levels, .needed-for-badges {
    margin-top: 15px;
}

.avatar-badge, .avatar-level, .avatar-team {
    display: inline-flex;
}

.skill-list-item {
    cursor: pointer;
}
