/* ==============================================================
Dojo colors
===============================================================*/
$dojo-nav-primary: #76786b;
$dojo-bg-primary: #f6f1e7;
$dojo-bg-gradient-from: #fffaf0;
$dojo-bg-gradient-to: #f0ebe2;
$dojo-text-primary: #666;
$dojo-text-secondary: #222;
$dojo-text-inverse-primary: #ffffff;
$dojo-text-inverse-secondary: #e8ddb7;
