@mixin skill-list-entry() {
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: $dojo-bg-gradient-from;
    border-radius: 2px;
    @include shadow();
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
        -webkit-box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.25), 1px 5px 8px rgba(0, 0, 0, 0.22);
        box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.25), 1px 5px 8px rgba(0, 0, 0, 0.22);
    }
    &.active-skill {
        background: #f0f0f0;
    }
    a {
        color: $dojo-text-primary;
        font-weight: normal;
    }
    * {
        outline: none;
    }
}
@mixin achievement-image() {
    display: flex;
    align-items: center;
    overflow: hidden;
    img {
        width: 80%;
    }
}

@mixin shadow(){
    -webkit-box-shadow: 0px 2px 4px rgba(119, 119, 119, 0.16), 0px 2px 4px rgba(119, 119, 119, 0.23);
    box-shadow: 0px 2px 4px rgba(119, 119, 119, 0.16), 0px 2px 4px rgba(119, 119, 119, 0.23);
}

@mixin accordion(){
    /deep/ .card-header {
        background-color: $dojo-bg-gradient-from;
        min-height: 50px;
        a {
            text-decoration: none;
        }
    }
    /deep/ .card {
        @include shadow();
        margin-bottom: 25px;
        background-color: $dojo-bg-gradient-from;
        border: none;

        /deep/ .card-body {
            background-color: $dojo-bg-gradient-from;
        }
    }
}
