<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organization">
            <h2><span tdTranslate="teamdojoApp.organization.detail.title">Organization</span> {{organization.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span tdTranslate="teamdojoApp.organization.name">Name</span></dt>
                <dd>
                    <span>{{organization.name}}</span>
                </dd>
                <dt><span tdTranslate="teamdojoApp.organization.levelUpScore">Level Up Score</span></dt>
                <dd>
                    <span>{{organization.levelUpScore}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span tdTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/organization', organization.id, 'edit']"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span tdTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
