@import '~bootstrap/scss/bootstrap';
@import '../../../content/scss/bootstrap-variables';
@import '../../../content/scss/colors';
@import "../../../content/scss/mixins";

@media (min-width: 576px) {
     .col-20 {
        width: 100%;
    }

    .col-60 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .col-20 {
        width: 20%;
    }

    .col-60 {
        width: 60%;
    }

    .skill-details {
        .skills-list {
        }
        .skill-info {
            padding: 0 10px;
        }
        .skill-comments {
            padding-left: 10px;
        }
    }
}

.skill-details {
    height: calc(100vh - 151px);
    * {
        box-sizing: border-box;
    }
}

.background-image {
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(15px);
    width: 70vh;
    height: 70vh;
    top: 15vh;
    left: 10vw;
    position: fixed;
    z-index: -1;
}

.skill-comments {
    h4 {
        color: $dojo-text-primary;
    }
}
