<div class="row skill-details">
    <div class="col-md-4">
        <jhi-teams-skills [team]="team" [skill]="achievableSkill" (onSkillClicked)="onSkillInListClicked($event)"
                          (onSkillChanged)="onSkillInListChanged($event)"></jhi-teams-skills>
    </div>
    <div class="col-md-8">
        <jhi-skill-details-info (onSkillChanged)="skillList.handleSkillChanged($event)" [skill]="skill"
                                [team]="team" [achievableSkill]="achievableSkill"></jhi-skill-details-info>
    </div>
</div>
